
<header class = "contenedor" >
  

  <div class = "espacio-login" style = "float: right"> 
    <button (click) = "irAlLogin()"  >
      Ingresar
    </button>
  </div>

  <h1 class = "logotipo"> ChangoMarket </h1>

  <nav>

    <div class = "botones-navegador"> 
      <a href = "../../home/home.component.css"> Inicio </a>
      <a href = "../../productos/productos.component.html"> Productos </a>
      <a href = "../../ofertas/ofertas.component.html"> Ofertas </a>
      <a href = "../../nosotros/nosotros.component.html"> Nosotros </a>
      <a href = "#" class = "activo"> Sedes </a>
    </div>
    
  </nav>

</header>
