/* 
You can add global styles to this file, and also import other style files 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-image: url('https://st4.depositphotos.com/18561698/24796/i/450/depositphotos_247965220-stock-photo-healthy-food-background-fresh-berries.jpg');
	font-family: 'Open Sans', sans-serif;
}