/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0;
	background-image: 
	url('https://st4.depositphotos.com/18561698/24796/i/450/depositphotos_247965220-stock-photo-healthy-food-background-fresh-berries.jpg');
	font-family: 'Open Sans', sans-serif;
}

:root .light-theme{
 	--primary-app: #36C14A;
	--secondary-app: #69E77F;
	--dark-app: #3F4650;
	--light-white-grey: #F2F2F2;
	--dark-white-grey: #343B43;
	--light-back-color-app: #E9E8E8;
    --dark-back-color-app: #1E242B; 
/*
	--primary-app: rgb(236, 236, 236);
	--secondary-app: rgb(119, 119, 119);
	--light-app: rgb(197, 195, 195);
	--dark-app: rgb(87, 87, 87);
	--light-back-color-app: rgb(180, 180, 180);
	--dark-back-color-app: rgb(68, 68, 68); 
*/
}

.light-theme .c-black{
    color: #2A3139;
}

.dark-theme .c-black{
    color: #FFFFFF;
}

.light-theme .black{
    background-color: #2A3139;
	color: var(--light-white-grey);
}

.dark-theme .black{
    background-color: #575E6E;
	color: var(--light-white-grey);
}

.light-theme .white-grey,.light-theme .cdk-drag-preview{
	background-color: var(--light-white-grey);
}

.dark-theme .white-grey,.dark-theme .cdk-drag-preview{
	background-color: #343B43 !important;
	color: var(--light-white-grey);
}

.dark-theme .white {
	background-color: #3B424C;
	color: var(--light-white-grey);
}


:root .dark-theme{
	--primary-app: #69E77F;
	--secondary-app: #36C14A;
}


/* SCROLLBAR STYLE! */

 /* width */
 ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }