.contenedor {
	width: 90%;
	margin: auto;
}

/* ---- ----- ----- PRODUCTO PRINCIPAL ----- ----- ----- */
.principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient( rgba(255, 55, 55, 0.768) 40%, rgba(248, 233, 233, 0.768) 60% );
    background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
    margin-top: 10px;
}

/* ---- ----- ----- SLIDE DE PRODUCTOS ----- ----- ----- */