<app-header> </app-header>

<!--- CONTENIDO PAGINA DE NOSOTROS -->
<body>

	<div class = "principal" >

		<div class = "contenedor"> 

			<div class = "tajeta">

				<h3 class = "titulo"> Sobre Nosotros </h3>
				
				<img 
					class = "imagen"
					alt = "sobre nosotros" 
					src = "https://controlpublicidad.com/uploads/2021/09/como-nos-comportamos-en-el-supermercado-083727.jpg"
				
				>	
				<p class = "texto">
					En el 2022 celebramos 100 años de historia <br>
					Somos una familia argentina que vende los <br>
					productos de la más alta vanguardia en <br> 
					nuestras distintitas sedes, todo de la mano <br>
					de nuestros trabajadores más leales. <br> <br>

					El mundo nos ofrece diversas alternativas <br> 
					para estar más cerca de ti y poder compartir <br>
					momentos y experiencias únicas. <br>
					Todo a través de este sitio, donde podemos <br>
					mostrarte nuestros distintos productos <br> 
					de la más alta calidad.<br>
				</p>
				
			</div>

			<div class = "tarjeta">

				<h3 class = "titulo"> Nuestra Historia </h3>
				
				<img 
					class = "imagen"
					alt = "nuestra historia" 
					src = "https://i.pinimg.com/736x/31/6d/51/316d51050feaad8bbc33451ad0c55261--peron-wimpy.jpg"
				
				>	
				<p class = "texto">
					Con 18 años, el joven Lautaro Chango Mark <br>
					adquirio su primer local mayorista, <br>
					logrando un notable crecimiento de la <br>
					demanda en la zona de san telmo, <br>
					Lo cual causo que la empresa poco a poco <br>
					avanzara progresivamente, tanto en la parte <br>
					de variedad de productos, como en la calidad <br>
					y produccion de los mismos, en todas sus
					diferentes sedes conocidas hoy en dia. <br> <br>

				</p>
				
			</div>

			<div class = "tarjeta">

				<h3 class = "titulo"> Calidad Productos </h3>
				
				<img 
					class = "imagen"
					alt = "Calidad productos" 
					src = "https://images.ecestaticos.com/kmTMxvhDeA2nNQhFwXuZ-KtLdgA=/188x5:772x443/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F4ce%2F57c%2F343%2F4ce57c343d34bf803771c15c51ed03e7.jpg"
				
				>	
				<p class = "texto">
					Desde sus tiempos pioneros, se cultivaba <br>
					en forma artesanal nuestros productos, <br>
					dichos procesos fueron evolucionando <br>
					hasta lo que somos hoy: una empresa <br>
					totalmente argentina cuyo nivel industrial <br>
					es comparable a los más avanzados del mundo. <br><br>
				</p>
				
			</div>
			
		</div>
		
	</div>

</body>

<!--- FOOTER PAGINA -->
<app-footer> </app-footer>