.contenedor {
	width: 90%;
	margin: auto;
}

/* ---- ----- ----- PRODUCTO PRINCIPAL ----- ----- ----- */
.producto-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient( rgba(255, 55, 55, 0.768) 40%, rgba(248, 160, 160, 0.768) 60% );

    background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
    margin-top: 10px;
}

.producto-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.producto-principal .titulo {
    margin-top: 75px;
    margin-left: 280px;
	font-weight: 600;
	font-size: 1.40em;
	margin-bottom: 0.4em;
}

.producto-principal .contenedor .nombre-producto {
	font-size: 2.00em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1em;
    margin-left: 750px;
}

.producto-principal .contenedor .descripcion{
    font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
    margin-left: 650px;
}

.imagen-principal{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQedUG1D9dEhA0MhyBjaUmFXMIk6VG9oi6Ceg&usqp=CAU');
	margin-left: 100px;
	margin-right: 100px;
	width: 600px;
	height: 600px;
}

.producto-principal .boton {
    text-align: center;
    margin-top: 20px;
    margin-left: 16em;
    margin-right: -15em;

	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 0.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.producto-principal.boton:hover {
	background: #fff;
	color: rgba(255, 55, 55, 0.768);
}

.producto-principal .boton i {
	margin-right: 0.0em;
    margin-left: 0.1em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: rgba(255, 55, 55, 0.768);
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.productos-recomendados {
	margin-bottom: 70px;
}

.productos-recomendados .contenedor-principal {
    background-color: #AAAA;
	display: flex;
	align-items: center;
	position: relative;
}

.productos-recomendados .contenedor-principal .flecha-izquierda,
.productos-recomendados .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.productos-recomendados .contenedor-principal .flecha-izquierda:hover,
.productos-recomendados .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.productos-recomendados .contenedor-principal .flecha-izquierda {
	left: 0;
}

.productos-recomendados .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- SLIDE DE PRODUCTOS ----- ----- ----- */
.productos-recomendados .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.productos-recomendados .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.productos-recomendados .contenedor-carousel .carousel .producto {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.productos-recomendados .contenedor-carousel .carousel .producto.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.productos-recomendados .contenedor-carousel .carousel .producto img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {

	.producto-principal {
		font-size: 14px;
	}

	.producto-principal .descripcion {
		max-width: 100%;
	}

	.productos-recomendados .contenedor-carousel {
		overflow: visible;
	}

	.productos-recomendados .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.productos-recomendados .indicadores,
	.productos-recomendados .flecha-izquierda,
	.productos-recomendados .flecha-derecha {
		display: none;
	}
}