* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: sans-serif;
	background: #4e4d4d00;
  }
  
  .form-login {
	width: 400px;
	height: 340px;
	box-shadow: 7px 13px 37px rgba(187, 72, 72, 0);
	padding: 20px 30px;
	color: rgb(0, 0, 0);
	margin-left: 10%;
	margin-top: 6%;
  }
  
  .form-login h5 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
  }
  
  .controls {
	width: 100%;
	border: 1px solid #19bdfd;
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #252323;
	font-size: 14px;
	font-weight: bold;
  }

  
/* DISEÑOS CSS DEL PIE DE PAGINA */
#fondo{
    background-color: rgba(255, 55, 55, 0.768);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.box{
	background-color: wheat;
	width: 33%;
	height: 61%;
	position: absolute;
	left: 33%;
	top: 20%;
}
  

	
  .form-login p{
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
  }
  
  .form-login a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 20px;
  }
  
  .form-login a:hover {
	text-decoration: underline;
  }
  
  