
<!-- Aqui va el codigo de valentin -->


<button href = '#' class = "btn btn-primary btn-block" style = " font-size: 15px"> Ingresar </button>








<!-- Aquí puedes escribir tu comentario 
    <div class = "login">
    <b style = "font-size: 19px;"> LOGIN <br> </b> 

    <label> Email </label>
    <input class = "form-control m-2" style = " font-size: 15px" type = "email" placeholder = " ingrese su email " >
    <br>
    <label> Password </label>
    <input class = "form-control m-2" style = " font-size: 15px " type = "password" placeholder = " ingrese su contraseña ">
    <br>
    <button class = "btn btn-primary btn-block" style = " font-size: 15px"> Ingresar </button>
    </div>
-->