
<header class = "contenedor" >
  

  <div class = "espacio-login" style = "float: right"> 
    <button (click) = "irAlLogin()"  >
      Ingresar
    </button>
  </div>

  <h1 class = "logotipo"> ChangoMarket </h1>

  <nav>

    <div class = "botones-navegador">
      <button (click) = "irAlInicio()"  >
        Inicio
      </button>
      <button (click) = "irAProductos()"  >
        Productos
      </button>
      <button (click) = "irAOfertas()"  >
        Ofertas
      </button>
      <button (click) = "irANosotros()"  >
        Nosotros
      </button>
      <button (click) = "irASedes()"  >
        Sedes
      </button>
    </div>
    
  </nav>

</header>
