
/* DISEÑOS CSS DEL PIE DE PAGINA */
.footer{
    background-color: rgba(255, 55, 55, 0.768);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.enlace-footer:hover{
    height: 10px;
    width: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.footer .letra-pie-de-pagina{
    font-size: 15px;
}