
<header class = "contenedor" >
  

  <div class = "espacio-login" style = "float: right"> 

    <button class = "login" (click) = "irAlLogin()"  >
      Ingresar
    </button>

    <button class = "espacio-carrito">

      <img src = "https://cdn-icons-png.flaticon.com/512/1250/1250712.png" alt = "Abrir Carrito" />

      <h4 class = "texto-carrito" > 0 </h4>

    </button>


  </div>

  
  <div>

    <h1 class = "logotipo"> ChangoMarket </h1>
    
  </div>
  

  <nav>

    <div class = "botones-navegador">
      
      <button (click) = "irAlInicio()"  >
        Inicio
      </button>
      <button (click) = "irAProductos()"  >
        Productos
      </button>
      <button (click) = "irAOfertas()"  >
        Ofertas
      </button>
      <button (click) = "irANosotros()"  >
        Nosotros
      </button>
      <button (click) = "irASedes()"  >
        Sedes
      </button>

    </div>

    
    
  </nav>

</header>

