<!--- Header Productos -->
<app-header> </app-header>

<!--- CONTENIDO PAGINA DE NOSOTROS -->
<body>

	<div class = "principal" >
	
		<div class = "contenedor"> 

			<div class = "titulo-seccion-top">
				<h3> Vegetales </h3>
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Zanahoria </h3>
				
				<img 
					class = "imagen"
					alt = "zanahoria" 
					src = "https://cdn.shopify.com/s/files/1/0246/3147/6308/products/zanahoria_1080x.jpg?v=1556947271"
				
				>	
				
				<p class = "texto">

					Precio: 500 $ <br>
					ID: 1 <br>
					Tipo de producto: Vegetal <br><br>
					
					Descripcion:  Daucus carota subespecie sativus, <br> 
					              llamada popularmente zanahoria. <br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Cebolla </h3>
				
				<img 
					class = "imagen"
					alt = "Cebolla" 
					src = "https://static.vecteezy.com/system/resources/previews/002/979/927/large_2x/onion-on-white-background-free-photo.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 250 $ <br>
					ID: 2 <br>
					Tipo de producto: Vegetal <br><br>
					Descripcion:  Allium cepa, comúnmente conocida <br> como cebolla
					<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Papa </h3>
				
				<img 
					class = "imagen"
					alt = "Papa" 
					src = "https://img.freepik.com/foto-gratis/papa-joven-aislado-sobre-fondo-blanco_461160-3621.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 210 $ <br>
					ID: 3 <br>
					Tipo de producto: Vegetal <br><br>
					Descripcion: Solanum tuberosum, de nombre común <br>
					papa​ o patata. <br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>

			<div class = "titulo-seccion-medio">
				<h3> Frutas </h3>
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Manzana </h3>
				
				<img 
					class = "imagen"
					alt = "Manzana" 
					src = "https://thumbs.dreamstime.com/b/manzana-roja-en-el-fondo-blanco-de-la-reina-nueva-zelanda-una-primer-144391264.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 110 $ <br>
					ID: 4 <br>
					Tipo de producto: Fruta <br> <br>
					Descripcion:  La manzana es el fruto comestible de la <br> 
					especie Malus domestica<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Fresa </h3>
				
				<img 
					class = "imagen"
					alt = "Fresa" 
					src = "https://thumbs.dreamstime.com/b/fresa-con-las-hojas-en-el-fondo-blanco-54647513.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 690 $ <br>
					ID: 5 <br>
					Tipo de producto: Fruta <br> <br>
					Descripcion:  Fragaria, llamado comúnmente fresa <br>
					o frutilla, es un género de plantas rastreras <br>
					estoloníferas de la familia Rosaceae.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Sandia </h3>
				
				<img 
					class = "imagen"
					alt = "Sandia" 
					src = "https://lanoticia.com/wp-content/uploads/2021/03/semillas-sandia.jpeg"
				
				>	
				
				<p class = "texto">

					Precio: 320 $ <br>
					ID: 6 <br>
					Tipo de producto: Fruta <br><br>
					Descripcion:  Citrullus lanatus, comúnmente <br>
					              llamada sandía, acendría, sindria, <br>
								  patilla, es una especie de <br>
								  la familia Cucurbitaceae.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>

			<div class = "titulo-seccion-medio">
				<h3> Bebidas Alcoholicas </h3>
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Fernet Branca </h3>
				
				<img 
					class = "imagen"
					alt = "Fernet" 
					src = "https://d3ugyf2ht6aenh.cloudfront.net/stores/861/458/products/3303331-6bc212c1f87f7e25a116038277957066-640-0.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 800 $ <br>
					ID: 7 <br>
					Tipo de producto: Bebida Alcoholica <br> <br>
					Descripcion:  El fernet es una bebida alcohólica de la <br>
					              familia de los amaros italianos <br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Campari </h3>
				
				<img 
					class = "imagen"
					alt = "Campari" 
					src = "http://d2r9epyceweg5n.cloudfront.net/stores/001/185/530/products/campari1-62d97f6fff3363a0ba15898894900623-640-0.png"
				
				>	
				
				<p class = "texto">

					Precio: 499 $ <br>
					ID: 8 <br>
					Tipo de producto: Bebida Alcoholica <br> <br>
					Descripcion:  Campari es una bebida alcohólica de <br>
					              grado medio, tonificante y 
								  refrescante.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Gin Tonic </h3>
				
				<img 
					class = "imagen"
					alt = "Gin Tonic" 
					src = "https://bar-drinks.com.ar/wp-content/uploads/2021/10/ComboBOM-botella-copon-fondo-blanco.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 720 $ <br>
					ID: 9 <br>
					Tipo de producto: Bebida Alcoholica <br><br>
					Descripcion:  Es un cóctel compuesto de ginebra y <br>
					              agua tónica servida con hielo<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>

			<div class = "titulo-seccion-medio">
				<h3> Bebidas No Alcoholicas </h3>
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Coca-Cola </h3>
				
				<img 
					class = "imagen"
					alt = "Coca-Cola" 
					src = "https://media.istockphoto.com/photos/cocacola-bottle-isolated-on-a-white-background-picture-id458936563?k=20&m=458936563&s=170667a&w=0&h=7cZnBLmgneSnUBtYeyFGNT5BACEma2VZbzOhKjXJQtw="
				
				>	
				
				<p class = "texto">

					Precio: 290 $ <br>
					ID: 10 <br>
					Tipo de producto: Bebida Alcoholica <br><br>
					Descripcion: Es una bebida azucarada gaseosa <br>
					            vendida a nivel mundial en tiendas, <br>
								restaurantes y máquinas expendedoras <br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Sprite </h3>
				
				<img 
					class = "imagen"
					alt = "Sprite" 
					src = "https://thumbs.dreamstime.com/b/botella-de-bebida-sprite-aislada-en-blanco-130706596.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 357 $ <br>
					ID: 11 <br>
					Tipo de producto: Bebida No Alcoholica <br><br>
					Descripcion:  Sprite es una refresco hecho a base de <br>
					              agua carbonatada con sabor a Lima o limón<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Jugo Cepita </h3>
				
				<img 
					class = "imagen"
					alt = "Jugo Cepita" 
					src = "https://d3ugyf2ht6aenh.cloudfront.net/stores/001/160/839/products/project_20201006_2336359-011-ed0360813c02da49ae16020383114438-1024-1024.png"
				
				>	
				
				<p class = "texto">

					Precio: 100 $ <br>
					ID: 12 <br>
					Tipo de producto: Bebida No Alcoholica <br><br>
					Descripcion:  Un jugo hecho con naranjas frescas<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>

			<div class = "titulo-seccion-medio">
				<h3> Congelados </h3>
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Milanesa </h3>
				
				<img 
					class = "imagen"
					alt = "Milanesa" 
					src = "https://thumbs.dreamstime.com/b/schnitzel-de-pollo-con-lim%C3%B3n-sobre-fondo-blanco-aislado-198869625.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 175 $ <br>
					ID: 13 <br>
					Tipo de producto: Congelados <br><br>
					Descripcion:  Pollo en forma de milanesa congelado<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Pizza Congelada </h3>
				
				<img 
					class = "imagen"
					alt = "Pizza" 
					src = "https://www.lacoopeencasa.coop/media/lcec/publico/articulos/1/5/2/15295eeb40bb868a3e11e2b47f7055dc"
				
				>	
				
				<p class = "texto">

					Precio: 900 $ <br>
					ID: 14 <br>
					Tipo de producto: Congelados <br><br>
					Descripcion:  Pizza congelada para microondas<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Hamburguesa Paty </h3>
				
				<img 
					class = "imagen"
					alt = "Paty" 
					src = "https://hiperlibertad.vteximg.com.br/arquivos/ids/173544-600-600/Hamburguesa-Paty-Cl-sico-4-un-1-13363.jpg?v=637483870700500000"
				
				>	
				
				<p class = "texto">

					Precio: 678 $ <br>
					ID: 15 <br>
					Tipo de producto: Congelados <br><br>
					Descripcion:  Paty para hamburguesa congelado.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			
			<div class = "titulo-seccion-medio">
				<h3> Dulces </h3>
			</div>
			<div class = "tajeta-final">

				<h3 class = "titulo" > Don Saturn </h3>
				
				<img 
					class = "imagen"
					alt = "Don" 
					src = "https://http2.mlstatic.com/D_NQ_NP_622576-MLA46206007250_052021-V.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 85 $ <br>
					ID: 18 <br>
					Tipo de producto: Dulce <br> <br>
					Descripcion:  Bizcochitos cubiertos de azúcar.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Oreos </h3>
				
				<img 
					class = "imagen"
					alt = "Oreos" 
					src = "https://c8.alamy.com/compes/f8e2fy/paquete-de-galletas-oreo-sobre-un-fondo-blanco-f8e2fy.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 310 $ <br>
					ID: 17 <br>
					Tipo de producto: Dulce <br><br>
					Descripcion:  Galletas de chocolta con cremita <br>
					              en el medio.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>
			<div class = "tajeta">

				<h3 class = "titulo" > Chocolinas </h3>
				
				<img 
					class = "imagen"
					alt = "Chocolinas" 
					src = "https://superlorito.com.ar/wp-content/uploads/2020/04/chocolinas-250g.jpg"
				
				>	
				
				<p class = "texto">

					Precio: 145 $ <br>
					ID: 17 <br>
					Tipo de producto: Dulces <br><br>
					Descripcion:  Galletas hechas con chocolate.<br>
					
				</p>

				<button class = "botones-productos">
					Agregar Al Carrito
				</button>
				
			</div>	

		</div>

	</div>

	<app-footer> </app-footer>

</body>